
<!DOCTYPE html>
<html lang="zxx">
  
   <body>

      <!-- banner -->
      <div class="inner_page-banner one-img">
      </div>
      <!--//banner -->
 

      <!--show Now-->  
      <section id="all_shop" class="contact py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3" id="title_Shop">Compra aquí nuestros productos</h3>
            <section id="cargar_maps">
              <!-- Aqui cargamos el div del maps -->
            </section>

            <div class="row">
               <div class="side-bar col-lg-3">
            
							<!-- maps -->
                     <img class="mapdetails" src="frontend/view/images/maps.png">
                     				

							<!-- //maps -->
                  

                  <!--Filtros, por grupo -->
                  <div class="left-side">
                     <h3 class="agileits-sear-head">Grupos/Artistas disponibles</h3>
                     <ul id ="filtros" >
                        
                            <li ng-repeat="data in grupos" class="check_grupo" id ="{{data.nombre_grupo}}">
                            <span class="span" >-{{data.nombre_grupo}}</span>
                            </li>
                     </ul>
                  </div>
                 <!--Filtros, por grupo -->


                  <!--Filtros, por estilo musical -->
               <form name="f1" class="ff"> 


              


                  <div class="left-side">
                     <h3 class="agileits-sear-head">Estilo musical</h3>
                     <ul id="filtros_estilo">
                        <li>
                           <input type="checkbox" class="checked"  ng-click="filtro_rock('Rock')" id ="check_rock">
                           <span  class="span" >Rock</span>
                        </li>
                        <li>
                           <input type="checkbox" class="checked" ng-click="filtro_pop('Pop')"  id ="check_pop">
                           <span class="span" >Pop</span>
                        </li>
                        <li>
                           <input type="checkbox" class="checked" ng-click="filtro_elec('Electronica')"  id ="check_electronica">
                           <span class="span" >Electronica</span>
                        </li>
                        <li>
                           <input type="checkbox" class="checked" ng-click="filtro_clasica('Clasica')"  id ="check_clasica">
                           <span class="span" >Clasica</span>
                        </li>
                        <li>
                           <input type="checkbox" class="checked" ng-click="filtro_rap('Rap')"  id ="check_rap">
                           <span class="span" >Rap</span>
                        </li>
                        
                     </ul>
                  </div>


                       <!--Filtros, por categoria -->
                  <div class="left-side">
                     <h3 class="agileits-sear-head">Categoria</h3>
                     <ul id="filtros_categoria">
                        <li>
                           <input type="checkbox" class="checked" ng-click="filtro_disco('Disco')"  id ="check_disco">
                           <span class="span" >Discos</span>
                        </li>
                        <li>
                           <input type="checkbox" class="checked" ng-click="filtro_vinilo('Vinilo')"  id ="check_vinilo">
                           <span class="span" >Vinilos</span>
                        </li>
                        <li>
                           <input type="checkbox" class="checked" ng-click="filtro_cami('Camiseta')"  id ="check_camiseta">
                           <span class="span" >Camsietas</span>
                        </li>
                        <li>
                           <input type="checkbox" class="checked" ng-click="filtro_poster('Poster')"  id ="check_poster">
                           <span class="span" >Posters</span>
                        </li>
                     
               
                     </ul>
                  </div>
                  <!-- reviews -->
                  <a id="filtrar_check" ng-click="filtrar()" >Filtrar</a>
               </form>
               </div>
             

               <!-- Productos Shop -->
               <div id ="all_maps"class="left-ads-display col-lg-9">
                  
                  <div id="shop_div" class="row">
                     
                     <div id="container_shop">

                        <div id="cuadro" ng-repeat= "data in stock">
                           
                           <img class="imga1" id="{{data.cod_producto}}" ng-src="frontend/{{data.ruta}}" ng-click="showDetails(data.cod_producto)"><br>
                           <i id="{{data.cod_producto}}" class="heart fa fa-heart-o"></i>
                           <a class="btn_compra">Comprar</a>

                        </div>

                     </div>
                
                   
                     </div> 

                     <!-- Pagination -->

                     <div id="container-pagination" style="display: flex; align-items: center; justify-content: center">
                        <div id="pagination-shop">
                           <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page = "itemsPerPage" class="pagination-sm"></ul>
                        </div>
                     </div>



                     <!-- Api books realcionados -->
                     <div id="api_div">
                     <h1 id="titulo_api">Otros productos que podrian interesarte:</h1>
                     <!-- <div id="load_Api"></div> -->
                  </div>
                 </div>
               </div>

               
               
            </div>

          
         </div>
      </section>



   </body>
</html>
