
<!-- Div carousel -->


<div id="caorusel" class = "owl-carousel owl-theme">



</div>


<!-- Categorias  de productos -->
 <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
     <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
        <h3 class="title text-center mb-lg-5 mb-md-4  mb-sm-4 mb-3" id="productos">Categorias</h3>
        
        <div id = "categories" class="row banner-below-w3l">
     

       
     </div>

     <div>
     <h3 class="title text-center mb-lg-5 mb-md-4  mb-sm-4 mb-3" id="productos">Grupos disponibles</h3>
        <div id = "grupos_scroll" class="row banner-below-w3l">
         
     </div>
     <a id="loadmore">Cargar más</a>
   </div>
  
  <!-- //Categorias de productos -->

