


    <div id="darkfos">
    <div class="container_login" id = "darkfos">
    
        <form id="signup" name="formlogin" class="formlogin">
    
            <div class="header">
            
                <h3>Inicia sesión en ViniloShop</h3>
                
               
                
            </div>
            
            <div class="sep"></div>
    
            <div class="inputs">
            
                <p> <input type="text" name="username" placeholder="Nombre de usuario" ng-pattern = "regUsername" ng-model="username"/>
                    <span style="color: red ;" id="error_username">{{error_username}}</span>
               </p>
            
                <p><input name="password" type="password" placeholder="Contraseña"ng-model="password" ng-pattern="regPassword" />
                    <span style="color: red ;" id="error_username">{{error_passwd}}</span>
                </p>
    
                    <p class="submit"><input class="submit" type="button" name="commit" value="Inciar sesion" id="login_btn" ng-click="login()"></p>
               
                    <img class="googlelogin" src="frontend/view/images/social_login_g.png" ng-click="login_Gmail()">
                    <img class="ghublogin" src="frontend/view/images/GitH.png" ng-click="login_GH()">
                
            
            </div>
    
        </form>
        <a id="submit" href="#/register"">Aun no tienes cuenta?</a><br>
        <a id="submit" href="#/recover"">Has olvidado tu contraseña?</a>
    </div>

     </div>
 