
<div id="darkfos">
    <div class="container_login">
    
        <form id="signup" name="form_psswd" class="form_psswd">
    
            <div class="header">
            
                <h3>Cambia tu Contraseña</h3>
                
               
                
            </div>
            
            <div class="sep"></div>
    
            <div class="inputs">
            
             
               
               <p> <input type="password" name="password" placeholder="Nueva contraseña" ng-model = "password" ng-pattern = "regPassword" /><span id="e_passwordr" class="error">
                <span style="color: red ;" id="error_pasword">{{error_passw}}</span>
            </span></p> 

               <p>  <input type="password" name="password2" placeholder="Repite la contraña" ng-model = "password_2" ng-pattern = "regPassword"/><span id="e_rpasswordr" class="error">
                <span style="color: red ;" id="error_username">{{error_passw2}}</span>
            </span></p> 
                
                
               
            <p class="submit"><input class="submit" type="button" name="commit" value="Cambiar contraseña" id="register_btn" ng-click="reset_passwd()"></p>
               
            
            </div>
    
        </form>
    
    </div>
    ​</div>