

    <div id="darkfos">
    <div class="container_login">
    
        <form id="signup" name="formregister" class="formregister">
    
            <div class="header">
            
                <h3>Crea una cuenta en ViniloShop</h3>
                             
                
            </div>
            
            <div class="sep"></div>
    
            <div class="inputs">
            
               <p> <input type="text" name="username" placeholder="Nombre de usuario" ng-model="username"/><span id="e_userr" class="error">
             
            </span></p>
            
               <p><input type="text" name="email" placeholder="Email"  ng-model="email"/><span id="e_mail" class="error">
              
            </span></p> 
               
               <p> <input type="password" name="password" placeholder="Contraseña"  ng-model="password"/><span id="e_passwordr" class="error">
        
            </span></p> 

               <p>  <input type="password" name="password2" placeholder="Repite la contraña"  ng-model="password_2"/><span id="e_rpasswordr" class="error">
              
            </span></p> 
                
                
               
            <p class="submit"><input class="submit" type="button" name="commit" value="Register" id="register_btn" ng-click="register()"></p>
               
            
            </div>
    
        </form>
    
    </div>
    </div>
  