
 
 
 <div id = "header">
 <div class="header-bar">
           
            <div class="container-fluid">
               <div class="hedder-up row">
                  <div class="col-lg-3 col-md-3 logo-head">
                     <h1><a class="navbar-brand" href="#/home">ViniloShop</a></h1>
                
                  </div>
                  						
                  <div class="col-lg-5 col-md-6 search-right">

                        <form class="search">
                     
                              <input ng-model="keyword"  id="autocom" class="form-control mr-sm-2" type="search" placeholder="Busca tu producto">

                               <a id="searchlist" class="btn" type="submit" ng-click="search()">Search</a>
                        </form>
                  </div>
                  <div class="col-lg-4 col-md-3 right-side-cart">
                     <div class="cart-icons">
                        <ul id="menu_bar_login">
                        <li>
                              <a class = "engl2">........</a>
                           </li>
                           <li>
                           <a class = "engl">.........</a>
                           </li>
                     

                           <li ng-show = "showCart">
                              <a  href="#/cart"><span id="icon_login" class="fas fa-cart-arrow-down" ></span></a>                          
                            </li>
                                
                         <li id="p_l" ng-show = "showCart_count" >
                           {{cart_total}}                  
                          </li> 
                          <li>
                           <a href="#/shop"><span class="far fa-heart"></span></a>   
                        </li>
                           <li id="log_op" ng-show = "showLogIn">
                            <a  href="#/login"><span id="icon_login" class="far fa-user" ></span></a>                          
                          </li>

                          <li><div class="vertical-line" style="height: 60px;"></div></li>
                          <li><div class="vertical-line" style="height: 60px;"></div></li>
                           <li ng-show = "showProfile" class="name_p"><div class="div2" style = "background : url({{profileImg}})" ng-click="closeSessionClick()"></div> <p>{{profileName}}</p></li>
                           <li ng-show = "showLogOut">   <a id="log_out" class="btn" type="submit" ng-click="closeSessionClick()">Log Out</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                  <ul class="navbar-nav" id="menu_barr">
                     <li class="nav-item ">
                        <a class="nav-link" href="#/home" data-tr="Inicio"> Home<span class="sr-only">(current)</span></a>
                     </li>
              
                     <li class="nav-item">
                        <a href="#/shop"class="nav-link" data-tr="Tienda">Shop</a>
                     </li>
                   
                   
                     <li class="nav-item">
                        <a  href="#/contact"class="nav-link" data-tr="Contacto">Contact</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>

        </div>

       
   