
<body class="darkfos">
    <div class="container_login">
    
        <form id="signup" name="form_c_user" class="form_c_user">
    
            <div class="header">
            
                <h3>Recupera tu contraseña</h3>
                
               
                
            </div>
            
            <div class="sep"></div>
    
            <div class="inputs">
            
                <p> <input type="text" name="username" placeholder="Tu nombre de usuario" autofocus /><span id="e_user" class="error">
              
                </span></p>
            
    
                    <p class="submit"><input class="submit" type="button" name="commit" value="Enviar correro para cambiar contraseña" id="cnhg_user"></p>
               
                
                
            
            </div>
    
        </form>

    </div>
    ​</body>